body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

/* Mapbox style */
#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

/* Atlas title top center */
.css-atlas-title {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    pointer-events: none;
    width: 250px; /* Fixed width for large screens */
    height: 88px; /* Fixed height for large screens */
}

@media (max-width: 768px) {
    .css-atlas-title {
        width: 180px; /* Scaled down width for medium screens */
        height: 63px; /* Scaled down height based on aspect ratio */
    }
}

@media (max-width: 480px) {
    .css-atlas-title {
        width: 120px; /* Scaled down width for small screens */
        height: 42px; /* Scaled down height based on aspect ratio */
    }
}


/* Legend bottom left */
#legend {
    position: absolute;
    bottom: 20px;
    left: 20px;
    z-index: 999;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    font-size: 14px;
    font-family: Arial, sans-serif;
    width: 240px;
}

.color-bar {
    position: relative;
    width: 100%;
    height: 30px;
    background: linear-gradient(to right, #e6e6e5, #f8e0de, #f5c6c2, #eea3b6, #e770a1, #9c335d);
    padding: 0 10px;
    box-sizing: border-box;
}

.color-description {
    position: absolute;
    top: 5px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    padding: 3px 10px;
    color: #ffffff;
}

/* Information icon top left for methodology */
#info-icon:hover {
    opacity: 0.8;
}

#info-panel {
    display: none;
    position: absolute;
    top: 50px;
    left: 10px;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 8px;
    max-width: 400px;
    max-height: 800px; /* Maximum height of the panel */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    font-family: Arial, sans-serif;
    font-size: calc(10px + 0.5vw); /* Responsive font size */
    overflow-y: auto; /* Enables vertical scrolling if content is too tall */
}


 /* Custom header and link colors */
h3 {
    color: #e770a1; 
}

a:link, a:visited {
    color: #e770a1;
}

a:hover, a:active {
    color: #9c335d;
}

/* Geocoder style adjustments */
.mapboxgl-ctrl-geocoder {
    width: auto; /* Allows flexible width but could be set to 100% if needed */
    max-width: 400px; /* Maximum width to prevent it from being too wide on larger screens */
    z-index: 1002; /* Higher than most other elements */
}

/* Responsive adjustments for smaller screens */
@media (max-width: 600px) {
    .mapboxgl-ctrl-geocoder {
        width: 95%; /* Almost full width to use available space */
        position: absolute; /* Position it absolutely to ensure it's placed correctly */
        top: 20px; /* Move it down to avoid clashing with any header */
        left: 50%; /* Center align */
        transform: translateX(-50%); /* Center align using transform */
        max-width: none; /* Remove max-width restriction on small screens */
    }
}
